#shortcode_content{
    margin:15px;
    border:1px solid ;
}
    #tweet_img{
        width:100%;
        height: 30px;
        text-align: center;
        border-bottom:1px black solid;
    }
    #tweet_content{
        padding:5px;
        border-bottom:1px black solid;
        white-space: normal
    display:inline-block;
    }
        #tweet_autor{
            width: 20%;
            float:left;
        }
        #tweet_text{
            width: 80%;
            display:inline-block;
        }